html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background: #000000cc;
  line-height: 1.3rem;
  font-family: 'helvetica', sans-serif;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
header nav a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1.3rem;
  transition: 1s;
  padding-bottom: 1.2rem;
}
header nav a:hover {
  transform: scale(1.2);
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px dashed black;
  padding-top: 2rem;
  margin-top: 2rem;
  background: #000000cc;
  color: white;
}
footer h3 {
  font-size: 1.5rem;
  display: none;
  color: olive;
}
@media screen and (min-width: 880px) {
  footer h3 {
    display: block;
  }
}
footer h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
footer p {
  font-size: 1.2rem;
  color: olive;
  height: 7rem;
  display: none;
}
@media screen and (min-width: 880px) {
  footer p {
    display: block;
    width: 45%;
    padding-top: 1rem;
    line-height: 1.5rem;
    padding-bottom: 3rem;
  }
}
footer li {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.container {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.container .top-desktop-img {
  display: none;
}
@media screen and (min-width: 880px) {
  .container .top-desktop-img {
    display: flex;
    min-width: 100%;
    max-height: 8rem;
    padding-bottom: 2rem;
  }
}
.container .top-border-img {
  max-width: 100%;
  padding-bottom: 2rem;
  max-height: 8rem;
}
@media screen and (min-width: 880px) {
  .container .top-border-img {
    display: none;
  }
}
.container .top-img {
  max-width: 90%;
  border-radius: 2.5rem;
}
.container .middle-img {
  max-width: 95%;
  padding-top: 2rem;
}
.new-app {
  max-width: 60%;
  line-height: 1.4rem;
  font-family: 'helvetica', sans-serif;
  margin-left: 20%;
  border-bottom: 1px dashed black;
  padding-bottom: 3rem;
}
.new-app h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  line-height: 3rem;
}
.new-app button {
  height: 45px;
  width: 45%;
  font-size: 1rem;
  background-color: dodgerblue;
  color: darkgoldenrod;
  box-shadow: 3px 5px 4px gray;
  font-weight: bold;
}
.new-app button:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: darkgoldenrod;
  color: dodgerblue;
}
.about {
  max-width: 60%;
  line-height: 1.4rem;
  font-family: 'helvetica', sans-serif;
  margin-left: 20%;
  margin-right: 2rem;
}
.about h2 {
  font-size: 3.8rem;
  padding-bottom: 1rem;
  line-height: 3.1rem;
  padding-top: 2rem;
}
.about p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px dashed black;
  text-align: left;
}
.what-we-do {
  max-width: 60%;
  font-family: 'helvetica', sans-serif;
  margin-left: 20%;
  margin-right: 2rem;
}
.what-we-do h2 {
  font-size: 3.8rem;
  padding: 20px;
  line-height: 3.1rem;
}
.what-we-do p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed black;
  padding-left: 1.5rem;
  text-align: left;
  line-height: 1.3rem;
}
.CTA {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 20%;
  margin-right: 2rem;
  border-bottom: 1px dashed black;
  line-height: 1.4rem;
  font-family: 'helvetica', sans-serif;
}
.CTA h2 {
  font-size: 3.8rem;
  padding-bottom: 1.5rem;
  width: 80%;
  line-height: 3.4rem;
}
.CTA p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  max-width: 80%;
}
.CTA button {
  height: 45px;
  width: 45%;
  font-size: 1rem;
  background-color: dodgerblue;
  color: darkgoldenrod;
  box-shadow: 3px 5px 4px gray;
  font-weight: bold;
  margin-right: 14%;
}
.CTA button:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: darkgoldenrod;
  color: dodgerblue;
}
.testimonials {
  padding-top: 2rem;
  margin-left: 10%;
  width: 80%;
  line-height: 1.8rem;
  font-family: 'helvetica', sans-serif;
}
.testimonials .success-stories1 {
  height: auto;
  border: 2px solid darkolivegreen;
  margin: 2rem;
  border-radius: 1rem;
  background-color: lightgray;
}
.testimonials .success-stories2 {
  height: auto;
  border: 2px solid darkolivegreen;
  margin: 2rem;
  border-radius: 1rem;
  background-color: lightgray;
}
.testimonials .success-stories3 {
  height: auto;
  border: 2px solid darkolivegreen;
  margin: 2rem;
  border-radius: 1rem;
  background-color: lightgray;
}
.testimonials .success-stories4 {
  height: auto;
  border: 2px solid darkolivegreen;
  margin: 2rem;
  border-radius: 1rem;
  background-color: lightgray;
}
.testimonials h2 {
  font-size: 2.4rem;
}
.testimonials h3 {
  font-size: 2rem;
  padding-top: 1rem;
  line-height: 2rem;
}
.testimonials p {
  font-size: 1.1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}
.testimonials a {
  text-decoration: none;
  font-size: 0.9rem;
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  .testimonials a {
    font-size: 1.2rem;
  }
}
.testimonials img {
  height: auto;
  margin-top: 2rem;
  width: 65%;
  border-radius: 1.2rem;
}
@media screen and (min-width: 880px) {
  .testimonials img {
    width: 50%;
  }
}
