html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background: #000000cc;
  line-height: 1.3rem;
  font-family: 'helvetica', sans-serif;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
header nav a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1.3rem;
  transition: 1s;
}
header nav a:hover {
  transform: scale(1.2);
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px dashed black;
  padding-top: 2rem;
  margin-top: 2rem;
  background: #000000cc;
  color: white;
}
footer h3 {
  font-size: 1.5rem;
  display: none;
  color: grey;
}
@media screen and (min-width: 800px) {
  footer h3 {
    display: block;
  }
}
footer h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
footer p {
  font-size: 1.2rem;
  color: grey;
  height: 7rem;
  display: none;
}
@media screen and (min-width: 800px) {
  footer p {
    display: block;
    width: 75%;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
footer li {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.container {
  min-width: 100px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.container a {
  margin: 15px;
}
.container h2 {
  font-size: 2.5rem;
  margin: 5px;
}
.container h3 {
  font-size: 1.5rem;
  margin: 10px;
}
.container p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin: 10px;
  max-width: 600px;
  text-align: justify;
}
.container img {
  max-width: 80%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 800px) {
  .container img {
    max-height: 500px;
  }
}
.container section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  padding: 15px 0;
  width: 95%;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
}
.success-stories {
  height: auto;
  border: 2px solid darkolivegreen;
  margin: 20px auto;
  border-radius: 1rem;
  background-color: lightgray;
}
button {
  height: 45px;
  width: 400px;
  font-size: 1rem;
  background-color: dodgerblue;
  color: darkgoldenrod;
  box-shadow: 3px 5px 4px gray;
  font-weight: bold;
}
button:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: darkgoldenrod;
  color: dodgerblue;
}
#top-desktop-img {
  display: none;
  max-height: 20%;
}
@media screen and (min-width: 1000px) {
  #top-desktop-img {
    display: block;
    min-width: 100%;
    max-height: 11vh;
    height: 10%;
    border-radius: 0;
    margin: 0 auto;
  }
}
#top-border-img {
  min-width: 100%;
  padding-bottom: 2rem;
  border-radius: 0;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #top-border-img {
    display: none;
  }
}
.testimonials a {
  text-decoration: none;
  font-size: 1rem;
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .testimonials a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .testimonials a {
    font-size: 2rem;
  }
}
.scrum {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 400px;
  max-height: 400px;
}
.backend {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
  max-height: 400px;
  max-width: 400px;
  margin-bottom: 5rem;
}
.frontend {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  max-height: 400px;
  max-width: 400px;
  margin-bottom: 19rem;
  padding-left: 4rem;
}
.UI {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
  max-height: 400px;
  max-width: 400px;
}
