
nav {
    display: flex;
    justify-content: space-between;
}

.container {
min-width: 200px;
margin: 0 auto;
text-align: center;
background: lightgray;
}



.top-img{
    max-width: 100%;
}

.middle-img{
    max-width: 100%;
}

.top-border-img {
    max-width: 100%;
}

#donate-side-btn {
    display: block;
background: rgb(28, 195, 28);
height: 15px;
width: 70px;
padding: 8px 16px;
color: #fff;
font-family: Arial, sans-serif;
font-size: 17px;
line-height: 17px;
font-weight: bold;
text-decoration: none;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;

}