// Main Content Styles //


.container {
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
    background: lightgray;
    
    
.top-border-img {
    max-width: 100%;
    padding-bottom: 2rem;
}

.top-img{
    max-width: 90%;
    padding-bottom: 2rem;
}

.middle-img{
    max-width: 95%;
    padding-top: 2rem;
}
}


.about {
max-width: 95%;
padding-left: 8px;
    h2{
        font-size: 3.8rem;
        padding-bottom: 8px;
        
    }
    p {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        border-bottom: 1px dashed black;
        text-align: left;
    }
}


.what-we-do {
    max-width: 95%;
    padding-left: 8px;
        h2 {
            font-size: 3.8rem;
            padding: 20px;
        }
        p {
            font-size: 1.2rem;
            padding-bottom: 2.0rem;
            border-bottom: 1px dashed black;
            padding-left: 1.5rem;
            text-align: left;
        }

}

.CTA {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed black;

    h2{
    font-size: 3.8rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    width: 90%;
    }
    p {
        font-size: 1.2rem;
        padding-left: 3.5rem;
        padding-bottom: 1rem;
        max-width: 80%;
        text-align: left;
    }
    button{
        height: 30px;
        width: 45%;
        font-size: 1rem;
        background-color: @btn-bg-color;
        box-shadow: 3px 5px 4px gray;

        &:hover {
            transform: scale(1.5);

        }
    }
}

.testimonials {
    padding-top: 2rem;
    margin-left: 10%;
    width: 80%;


    h2 {
        font-size: 2.4rem;
    }
    h3{
        font-size: 2rem;
        padding-top: 1rem;
    }
    p{
        font-size: 1.1rem;
        padding-top: 1rem;
        
        text-align: center;

    }
    a {
        text-decoration: none;
        font-size: 1.7rem;
        color: @btn-bg-color;

        &:hover{
            transform: scale(1.2);
        }
        
    }
    img {
        padding-top: 2rem;
        width: 65%;
    }
}





// #donate-side-btn {
//     display: block;
// background: rgb(28, 195, 28);
// height: 15px;
// width: 70px;
// padding: 8px 16px;
// color: #fff;
// font-family: Arial, sans-serif;
// font-size: 17px;
// line-height: 17px;
// font-weight: bold;
// text-decoration: none;
// border-bottom-left-radius: 2px;
// border-bottom-right-radius: 2px;
// text-decoration: none;
// border-radius: 15%;
// }

